@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap");
/* ----- Key Btn ---- */
.btnKey-L.dark {
  background-color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(21, 50, 67, 0.6);
  color: #f9faf9;
  transition: all 0.3s ease;
  font-size: 24px;
}
.btnKey-L.dark:hover {
  background-color: #284163;
}
.btnKey-L.dark:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-L.dark:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-L.dark-border {
  background-color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #153243;
  background-color: #f9faf9;
  color: #153243;
  color: #153243;
  transition: all 0.3s ease;
  font-size: 24px;
}
.btnKey-L.dark-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(21, 50, 67, 0.6);
}
.btnKey-L.dark-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-L.dark-border:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-L.light {
  background-color: #eead50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(238, 173, 80, 0.6);
  color: #f9faf9;
  transition: all 0.3s ease;
  font-size: 24px;
}
.btnKey-L.light:hover {
  background-color: #ffcf8b;
}
.btnKey-L.light:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-L.light:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-L.light-border {
  background-color: #eead50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #eead50;
  background-color: #f9faf9;
  color: #eead50;
  color: #eead50;
  transition: all 0.3s ease;
  font-size: 24px;
}
.btnKey-L.light-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(238, 173, 80, 0.6);
}
.btnKey-L.light-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-L.light-border:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-L.none {
  background-color: #999999;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(153, 153, 153, 0.6);
  color: #dee2e6;
  font-size: 24px;
}

.btnKey-M.dark {
  background-color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(21, 50, 67, 0.6);
  color: #f9faf9;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.dark:hover {
  background-color: #284163;
}
.btnKey-M.dark:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.dark:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-M.dark-border {
  background-color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #153243;
  background-color: #f9faf9;
  color: #153243;
  color: #153243;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.dark-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(21, 50, 67, 0.6);
}
.btnKey-M.dark-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.dark-border:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-M.light {
  background-color: #eead50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(238, 173, 80, 0.6);
  color: #f9faf9;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.light:hover {
  background-color: #ffcf8b;
}
.btnKey-M.light:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.light:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-M.light-border {
  background-color: #eead50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #eead50;
  background-color: #f9faf9;
  color: #eead50;
  color: #eead50;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.light-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(238, 173, 80, 0.6);
}
.btnKey-M.light-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.light-border:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-M.none {
  background-color: #999999;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(153, 153, 153, 0.6);
  color: #dee2e6;
  font-size: 20px;
}

/* ----- Link Btn ---- */
.btnLink {
  font-size: 20px default;
}
.btnLink.dark {
  color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px;
  position: relative;
}
.btnLink.dark::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #153243;
  transition: width 0.4s ease;
  transform-origin: left;
}
.btnLink.dark:hover::after, .btnLink.dark.active::after {
  width: 100%;
}
.btnLink.light {
  color: #eead50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px;
  position: relative;
}
.btnLink.light::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #eead50;
  transition: width 0.4s ease;
  transform-origin: left;
}
.btnLink.light:hover::after, .btnLink.light.active::after {
  width: 100%;
}
.btnLink.white {
  color: #f9faf9;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px;
  position: relative;
}
.btnLink.white::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #f9faf9;
  transition: width 0.4s ease;
  transform-origin: left;
}
.btnLink.white:hover::after, .btnLink.white.active::after {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}/*# sourceMappingURL=myCabin.css.map */