<<<<<<< HEAD
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap");
#menu {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  width: fit-content;
  gap: 15px;

}

#container {
  position: fixed;
}

/* 按鈕樣式 */
.btnKey-M.dark {
  background-color: #153243;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px #15324399;
  color: #f9faf9;
  transition: all 0.3s ease;
  font-size: 20px;

}
.btnKey-M.dark:hover  {
  background-color: #284163;
}
.btnKey-M.dark:hover .cols {
  display: flex;
  transform: translateX(4%);
}

.btnKey-M.dark:hover .cols span:nth-child(2) {
  display: none;
}


.div.btnKey-M.dark-border {
  background-color: #153142;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #153243;
  background-color: #f9faf9;
  color: #153243;
  color: #153243;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.dark-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(21, 50, 67, 0.6);
}
.btnKey-M.dark-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.dark-border:hover .cols span:nth-child(2) {
  display: none;
}

=======
#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

>>>>>>> 4a8476b8293d010b80be66e0a0e7cf07a36fe83b
/* 元件的主要元素 */
:deep(.element) {
  width: 130px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0, 255, 250, 0.5);
<<<<<<< HEAD
  border: 3px solid rgba(251, 255, 255, 0.25);
  font-family: Fanwood Text, sans-serif;
  text-align: center;
  line-height: normal;
  cursor: default;
  
}

=======
  border: 3px solid rgba(68, 172, 172, 0.25);
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  cursor: default;
  /* background-color: rgba(0, 127, 127,0.725); */
}
>>>>>>> 4a8476b8293d010b80be66e0a0e7cf07a36fe83b
:deep(.element:hover) {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}
:deep(.element .number) {
  position: absolute;
<<<<<<< HEAD
  top: 40px;
  right: 20px;
  font-size: 18px;
  color: #7fffffbf;
}
:deep(.element .symbol) {
  position: absolute;
  top: 25px;
=======
  top: 50px;
  right: 20px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}
:deep(.element .symbol) {
  position: absolute;
  top: 50px;
>>>>>>> 4a8476b8293d010b80be66e0a0e7cf07a36fe83b
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
<<<<<<< HEAD
  text-shadow: 0 0 10px #00fffff2;
 
}
:deep(.element .details) {
  position: absolute;
  bottom: 8px;
  left: 0px;
  right: 0px;
  font-size: 18px;
  color: #00fffff2;
}
=======
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
:deep(.element .details) {
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

/* 按鈕樣式 */
button {
  color: rgba(127, 255, 255, 0.75);
  background: transparent;
  outline: 1px solid rgba(127, 255, 255, 0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}
button:active {
  color: #000000;
  background-color: rgba(0, 255, 255, 0.75);
}

/* 關閉按鈕樣式 */
>>>>>>> 4a8476b8293d010b80be66e0a0e7cf07a36fe83b
:deep(.close-btn) {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
<<<<<<< HEAD
  background-color: rgba(0, 217, 255, 0.564);
=======
  background-color: rgba(34, 128, 112, 0.75);
>>>>>>> 4a8476b8293d010b80be66e0a0e7cf07a36fe83b
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
}
:deep(.close-btn-d-none) {
  display: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 4a8476b8293d010b80be66e0a0e7cf07a36fe83b
